<h1>Create League</h1>

<%= form_for @league do |l| %>

<div>
	<%= l.label :name, "name of new league"  %>
	<%=  l.text_field :name %>
</div>
<div>
	<%= l.submit %>
</div>


<%end %>

<!-- if save, show message "welcome to the #{league}" and redirect to the home page -->



<!-- 
<p>Here current user will be able to create a new league  that means that i have to put a method  in the user controller smething like def new @league = League.new </p>
 -->