
<%= "Hello #{current_user.first_name}" %>
<!-- create a form where the user can create a bio  -->

<h1>Below is a list of all the leagus you belong to.</h1>
	<ul>
	<% @user.leagues.each do |l| %>

	<li><%=  l.name %> </li> 
	<% end %>
	</ul>