<div class="welcome">
	<h1>Welcome to Strikethree</h1>

	<div id="create">
	<%= link_to "Create an Account", new_user_path %>
	</div>

	<div id="sign-up">
	<%= link_to "Sign In", login_path %>
	</div>



</div>